.bg {
  background-color: #f5f5f5;
}

.wrapper {
  margin-top: var(--header-height);
  padding-bottom: 120px;
  .hide {
    display: none !important;
  }
  .pagination {
    text-align: center;
  }
  .breadcrumb {
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .banner {
    display: flex;
    align-items: center;
    height: 250px;
    position: relative;
    margin-bottom: 55px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
    .content {
      padding-left: 64px;
      .title {
        font-size: 38px;
        line-height: 46px;
      }
      .subTitle {
        display: block;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.012em;
        margin-top: 16px;
        color: var(--neutral-8);
        max-width: 330px;
      }
    }
  }
  .bannerMobile {
    display: none;
  }
  .input {
    border: none;
    box-shadow: 0px 6px 15px rgba(44, 61, 106, 0.15);
    height: 40px;
    border-radius: 4px;
    input {
      border-radius: 0;
      &::placeholder {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.012em;
        color: var(--neutral-6);
      }
    }
  }
  .btn {
    height: 40px;
    span {
      color: #fff;
    }
  }
  .filterGroup {
    margin-top: 16px;
    .clear,
    .filter {
      padding-left: 12px;
      padding-right: 12px;
      span {
        color: var(--primary);
      }
    }
    .filter {
      width: 100%;
      transition: var(--transition-hover);
      span {
        margin-left: 10px;
      }
      &.active,
      &:hover {
        background: rgba(47, 97, 230, 0.1);
      }
    }
    .clear {
      border-color: transparent;
      box-shadow: none;
    }
    .listFilter {
      .selectItem {
        width: 100%;
        > div {
          border-radius: 4px;
          height: 36px;
          input {
            height: 32px !important;
          }
          > span {
            line-height: 36px;
            font-size: 14px;
          }
        }
      }
      .selectMultiple {
        width: 100%;
        
      }
      .colFilter {
        flex: 1;
      }
    }
  }
  .listCompany {
    margin-top: 80px;
    .titleGroup {
      align-items: center;
      padding-bottom: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      margin-bottom: 32px;
    }
    .title {
      font-size: 24px;
      line-height: 32px;
    }
    .action {
      > div {
        justify-content: flex-end;
        @media (max-width: 575.98px) {
          justify-content: flex-start;
        }
      }
      .sortGroup {
        text-align: right;
      }
      .sortLabel {
        font-size: 12px;
        line-height: 20px;
        color: var(--neutral-8);
      }
      .sortSelect {
        min-width: 120px;
        text-align: center;
        > div {
          border-color: transparent !important;
          box-shadow: none !important;
          outline: none;
          background-color: transparent;
          span {
            padding-right: 25px;
            font-weight: 600;
            color: var(--primary);
          }
        }
        > span {
          color: var(--primary);
        }
      }
      .typeGroup {
        display: flex;
        align-items: center;
        > div .icon {
          cursor: pointer;
          display: flex;
          path {
            fill: var(--neutral-6);
            transition: var(--transition-hover);
          }
          rect {
            stroke: var(--neutral-6);
            transition: var(--transition-hover);
          }

          &:hover,
          &.active {
            path {
              fill: var(--primary);
            }
            rect {
              stroke: var(--primary);
            }
          }
        }
      }
    }
    .head {
      background-color: var(--primary);
      color: #fff;
      line-height: 22px;
      padding: 12px 0;
      border-radius: 8px;
      margin-bottom: 16px;
      position: sticky;
      top: var(--header-height);
      z-index: 1;

      @media (max-width: 991.98px) {
        top: var(--header-height-mobile);
      }

      div > div:first-child {
        strong {
          padding-left: 48px;
          @media (max-width: 575.98px) {
            padding-left: 24px;
          }
        }
      }
      .location {
        strong {
          padding-right: 48px;
        }
        text-align: right;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .wrapper {
    .banner {
      .content {
        .title {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    margin-top: var(--header-height-mobile);
    padding-bottom: 80px;
    .banner {
      .content {
        .title {
          font-size: 26px;
          line-height: normal;
        }
        .subTitle {
          font-size: 14px;
        }
      }
    }
    .filterGroup {
      .listFilter {
        flex-wrap: wrap;
        .colFilter {
          width: 100%;
          flex: unset;
        }
      }
      .clearCol {
        display: flex;
        align-items: flex-end;
      }
    }
    .listCompany {
      margin-top: 60px;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    margin-top: var(--header-height-mobile);
    padding-bottom: 40px;
    .listCompany {
      margin-top: 38px;
      .title {
        margin-top: 6px;
        font-size: 22px;
        line-height: normal;
      }
      .tag {
        margin-top: 6px;
      }
    }
    .typeGroup {
      margin-left: auto;
    }
    .banner {
      width: 100%;
      .content {
        text-align: center;
        padding: 0 16px;
        .title {
          color: #fff;
          font-size: 24px;
          line-height: 32px;
        }
        .subTitle {
          color: #fff;
          font-size: 14px;
          width: 100%;
          max-width: unset;
        }
      }
      .contentCol {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) -9.8%, rgba(0, 0, 0, 0.8) 115%);
      }
    }
    .bannerMobile {
      display: block;
    }
    .bannerPc {
      display: none;
    }
  }
}
