.hide {
  display: none;
}
.wrapper {
  padding-right: 4px;
  padding-left: 8px;
  padding-top: 15px;
  padding-bottom: 22px;
  border-bottom: 1px solid #f0f0f0;
  &:first-child {
    padding-top: 0;
  }
  .logoWrap {
    position: relative;
    &::after {
      content: '';
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 130px;
      width: 6px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.142351) 23.91%,
        rgba(0, 0, 0, 0.3) 54.25%,
        rgba(0, 0, 0, 0.106403) 81.95%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  .contentRow {
    padding-right: 30px;
  }
  .thumbnailWrap {
    flex-wrap: nowrap;
    position: relative;
    .thumbnail {
      img {
        border: 1px solid var(--neutral-3);
        border-radius: 4px;
      }
    }
    .tag {
      position: absolute;
      top: 10px;
      left: 0px;
      color: #fff;
      padding: 0 8px;
      border-radius: 4px 4px 4px 0px;
      width: fit-content;
      background-color: #f5222d;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.006em;
      &:after {
        position: absolute;
        content: '';
        border-top: 12px solid transparent;
        border-right: 12px solid #f5222d;
        bottom: -6px;
        left: 0;
        filter: brightness(60%);
      }
    }
  }
  .title {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.006em;
    color: var(--neutral-10);
    margin-bottom: 16px;
  }

  .desc {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.006em;
    color: var(--neutral-8);
    margin-bottom: 8px;
    display: block;
  }
  .action {
    text-align: right;
    button {
      margin-left: auto;
      max-width: 100%;
    }
    .btnShare {
      margin: auto;
      border: none;
      box-shadow: none;
      text-align: center;
    }
  }
}

@media (max-width: 1199.98px) {
  .wrapper {
    .action {
      margin-top: 12px;
      > div {
        justify-content: flex-end;
      }
      .btnShare {
        margin: unset;
        margin-left: 12px;
      }
    }
  }
}

@media (max-width: 991.92px) {
  .wrapper {
    .action {
      button {
        border: none;
        box-shadow: none;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    .action {
      > div {
        justify-content: flex-start;
      }
    }
  }
}
