.wrapper {
  overflow: hidden;
  background-color: var(--neutral-3);
  .bannerImageMobile {
    display: none;
    object-fit: cover;
  }
  .banner {
    height: 600px;
    width: 100%;
    position: relative;
    display: flex;
    .bannerImage {
      filter: brightness(0.9);
      object-fit: cover;
    }
    .filterGroup {
      width: 684px;
      margin: auto auto 174px;
      .searchWrap {
        margin-bottom: 24px;
        .autoComplete {
          width: 100%;
        }
      }
    }
    .title {
      font-weight: 600;
      font-size: 56px;
      line-height: 64px;
      color: #fff;
      margin-bottom: 48px;
      text-align: center;
    }

    .icon {
      margin-bottom: 2px;
    }
    .advanceWrap {
      cursor: pointer;
    }
    .advance {
      user-select: none;
      color: #fff;
      line-height: 22px;
    }
    .selectItem {
      width: 100%;
      > div {
        height: 40px;
        box-shadow: 0px 6px 15px rgba(44, 61, 106, 0.15);
        input {
          height: 38px !important;
        }
        > span {
          line-height: 38px;
          font-size: 14px;
        }
      }
    }
    .selectMultiple {
      width: 100%;
      > div {
        min-height: 40px;
      }
    }
  }
  .colFilter {
    min-height: 40px;
    @media (max-width: 768px) {
      min-height: 92px;
    }
  }
  .content {
    .section {
      margin-bottom: 80px;
    }
    .titleGroup {
      .title {
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
      }
      .btnCol {
        text-align: right;
      }
      .btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 0;
      }
      &.newsTitle {
        margin-bottom: 32px;
        .title {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
        }
        .btn {
          font-weight: 600;
          font-size: 14px;
          padding: 4px 15px;
        }
        .btnCol {
          text-align: right !important;
        }
      }
    }
    .typicalCompany {
      text-align: center;
      .title {
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        margin-top: 120px;
        margin-bottom: 24px;
      }
      .subTitle {
        line-height: 22px;
        color: var(--neutral-9);
        max-width: 684px;
        display: block;
        margin: 0 auto;
      }
    }
    .newsCol {
      margin-top: 58px;
    }
    .pagination {
      text-align: center;
    }
    .carousel {
      box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
      border-radius: 16px;
    }
    .outstanding {
      .imgMobile {
        display: none;
        border-radius: 16px;
      }
      .img {
        object-fit: cover;
        border-radius: 16px;
      }
      width: 100%;
      height: 420px;
      position: relative;
      box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
      border-radius: 16px;
      display: flex;
      .content {
        overflow-x: hidden;
        margin: 64px (118/1156) * 100% 0;
        width: 100%;
        .head {
          font-size: 16px;
          color: var(--neutral-7);
          margin-bottom: 8px;
          display: block;
          text-align: center;
        }
        .title {
          font-weight: 600;
          font-size: 38px;
          text-align: center;
          line-height: 46px;
          margin-top: 0;
          margin-bottom: 64px;
        }
        .line {
          width: calc(100% + 48px);

          height: 2px;
          background-color: #eaeffd;
          margin-bottom: 24px;
          .lineIcon {
            &:not(.last) {
              right: 24px;
            }
            position: relative;
            bottom: 100%;
            transform: translateY(-50%);
          }
          &.last {
            width: calc(100%);
            .lineIcon {
              right: 0;
            }
          }
        }
        .statistical {
          text-align: center;
          // margin-top: 32px;
          .title {
            font-weight: 600;
            font-size: 54px;
            @media (max-width: 1450px) {
              font-size: 52px;
            }
            line-height: 64px;
            color: var(--primary);
            margin-bottom: 8px;
          }
          .desc {
            color: var(--neutral-8);
          }
        }
      }
    }
    .lastBanner {
      position: relative;
      width: 100%;
      height: 360px;
      border-radius: 16px;
      .content {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1399.98px) {
  .wrapper {
    .content {
      .outstanding {
        .content {
          .statistical {
            .title {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .wrapper {
    .banner {
      .filterGroup {
        margin: auto (100/1440) * 100%;
        width: 100%;
      }
    }
    .content {
      .typicalCompany {
        .title {
          margin-top: 80px;
        }
      }
      .section {
        margin-bottom: 60px;
      }
      .outstanding {
        height: 600px;
        .content {
          .statistical {
            .title {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    .content {
      .typicalCompany {
        .title {
          margin-top: 60px;
        }
      }
      // .outstanding {
      //   height: 800px;
      // }
    }
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    .banner {
      .title {
        font-size: 48px;
        line-height: 46px;
      }
      .filterGroup {
        margin: auto (80/1440) * 100%;
      }
    }
    .content {
      .section {
        margin-bottom: 40px;
      }
      .titleGroup {
        .title {
          font-size: 28px;
          line-height: auto;
        }
      }
      .outstanding {
        .content {
          .statistical {
            .title {
              line-height: 60px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    .bannerImageMobile {
      height: 550px;
      width: 100%;
      position: relative;
      display: flex;
      object-fit: cover;
    }
    .banner {
      .bannerImage {
        display: none;
      }
      .title {
        font-size: 34px;
        line-height: 46px;
      }
      .filterGroup {
        margin: auto 16px;
      }
    }
    .content {
      .typicalCompany {
        .title {
          margin-top: 30px;
        }
      }
      .titleGroup {
        .title {
          // font-size: 38px !important;
          font-size: 24px;
          font-weight: 600;
          line-height: auto;
        }
      }
      .outstanding {
        height: 510px;
        .img {
          display: none;
        }
        .imgMobile {
          display: block;
        }
        .content {
          .title {
            font-size: 24px;
            margin-bottom: 40px;
          }
          .statistical {
            .title {
              font-size: 30px;
              line-height: 42px;
            }
          }
          .line {
            width: calc(100% + 16px);
            .lineIcon {
              &:not(.last) {
                right: 16px;
              }
            }
            &.last {
              width: calc(100% + 16px);
              .lineIcon {
                right: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 475px) {
  .wrapper {
    .content {
      .titleGroup {
        .title {
          font-size: 18px;
          line-height: auto;
        }
        .btnCol {
          .btn {
            font-size: 13px;
            // padding: 2px;
            font-weight: 500;
            height: 36px;
            padding: 7px 12px;
          }
        }
      }
    }
  }
}
