.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-header);
  width: 100%;
  height: 80px;
  padding: 15px 24px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  transition: var(--transition-hover);
  .logoHover {
    display: none;
  }

  &:hover,
  &.scrollDown,
  &.notHome {
    background-color: #fff;
    box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
    .category {
      .wrap {
        .link {
          color: var(--neutral-8);
          &.active {
            color: var(--primary);
          }
        }
      }
    }
    .logo {
      display: none;
    }
    .logoHover {
      display: block;
    }
    .action {
      .language {
        .text {
          color: #000;
        }
      }
      .btnSignIn {
        border-color: var(--primary);
        color: var(--primary);
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .logoRow {
    height: 100%;
  }
  .category {
    display: flex;
    align-items: center;
    .wrap {
      .link {
        color: #fff;
        line-height: 22px;
        &:hover,
        &.active {
          color: var(--primary);
        }
      }
    }
  }
  .action {
    display: flex;
    justify-content: flex-end;

    .wrap {
      margin: auto 0;
      margin-left: auto;
    }
    .btnRegister {
      font-weight: 600;
      padding: 6px 15px;
      .text {
        color: #fff;
      }
    }
    .btnSignIn {
      padding: 6px 15px;
      font-weight: 600;
      border-color: #fff;
      color: #fff;
    }
    .language {
      cursor: pointer;
      display: flex;
      align-items: center;
      .text {
        color: #fff;
      }
    }
  }
  .close {
    display: none;
  }
}
.overlay {
  display: none;
}
.headerMobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  width: 100%;
  height: 64px;
  background-color: transparent;
  display: none;
}

@media (min-width: 992px) {
  .wrapper {
    &.hide {
      transform: translateY(-100%);
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    // position: relative;
    &.open {
      transform: translateX(0);
    }
    transform: translateX(-101%);
    padding-top: 20px;
    width: 60%;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    left: 0;
    z-index: 200;
    right: unset;
    background-color: #fff;
    box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
    .category {
      .wrap {
        margin-top: 80px;
        margin-left: 20px !important;
        flex-direction: column;
        .link {
          color: var(--neutral-8);
          font-weight: 600;
        }
      }
    }
    .logo {
      display: none;
    }
    .logoHover {
      display: block;
    }
    .logoRow {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .action {
      justify-content: flex-start;
      .language {
        .text {
          color: #000;
        }
      }
      .btnSignIn {
        border-color: var(--primary);
        color: var(--primary);
        &:hover {
          opacity: 0.8;
        }
      }
      .wrap {
        margin: 0;
        margin-top: auto;
        margin-bottom: 100px;
      }
    }
    .close {
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
      .icon {
        color: var(--primary);
        font-size: 20px;
      }
    }
  }
  .overlay {
    transition: var(--transition-hover);
    transform: translateX(-101%);
    &.open {
      transform: translateX(0);
    }
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .headerMobile {
    transition: var(--transition-hover);
    &.scrollDown,
    &.notHome {
      background-color: #072a88;
    }
    &.hide {
      transform: translateY(-100%);
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menuIcon {
      cursor: pointer;
    }
  }
}

@media (max-width: 599px) {
  .wrapper {
    // position: relative;
    width: 100%;
    .category {
      .wrap {
        margin-top: 80px;
        margin-left: 20px !important;
        flex-direction: column;
        .link {
          color: var(--neutral-8);
        }
      }
    }
    .logo {
      display: none;
    }
    .logoHover {
      display: block;
    }
    .logoRow {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .action {
      justify-content: flex-start;
      .language {
        .text {
          color: #000;
        }
      }
      .btnSignIn {
        border-color: var(--primary);
        color: var(--primary);
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .close {
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
      .icon {
        color: var(--primary);
        font-size: 20px;
      }
    }
  }
}
