.wrapper {
  position: relative;
  height: 360px;
  display: flex;
  width: 100%;
  .banner {
    border-radius: 16px;
    box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
  }
  .bannerMobile {
    border-radius: 16px;
    display: none !important;
  }
  .content {
    border-radius: 16px;
    width: 100%;
    margin: auto 0;
    margin-left: (118/1156) * 100%;
    span,
    h3 {
      color: #fff;
    }
    .head {
      margin-bottom: 8px;
      display: block;
      font-size: 16px;
    }
    .title {
      font-size: 38px;
      line-height: 46px;
    }
    .btn {
      border-color: #fff;
      padding: 7px 15px;
      &:hover {
        opacity: 0.8;
      }
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    height: 440px;
    .content {
      .title {
        font-size: 30px;
        line-height: 40px;
      }
      margin-left: 40px;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    .banner {
      object-fit: cover;
    }

    .content {
      .head {
        font-size: 14px;
        line-height: 22px;
      }
      .title {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    height: 530px;
    .banner {
      display: none;
    }
    .bannerMobile {
      display: block !important;
    }
    .content {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: 60px;
      .head {
        font-size: 14px;
        font-size: 14px;
        line-height: 22px;
        color: #e9f3ff;
      }
      .title {
        font-size: 24px;
        line-height: normal;
      }
      .btn {
        span {
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }
}
