.wrapper {
  flex-wrap: nowrap;
  padding-bottom: 22px;
  padding-top: 16px;
  border-bottom: 1px solid #f0f0f0;
  &:first-child {
    padding-top: 0;
  }
  .index {
    span {
      word-break: normal;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.006em;
      color: var(--neutral-8);
    }
  }
  .content {
    flex: 1;
    margin-left: 42px;
    margin-right: 24px;
    .title {
      h3 {
        line-height: 22px;
        font-size: 14px;
        letter-spacing: 0.006em;
        color: var(--neutral-10);
      }
    }
    .description {
      margin-top: 16px;
      margin-bottom: 4px;
      span {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.006em;
        color: var(--neutral-8);
      }
    }
    .discover {
      a {
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
  .thumbnailWrap {
    .thumbnail {
      border: 1px solid var(--neutral-3);
      border-radius: 6px;
    }
  }
}

@media (max-width: 1199.98px) {
  .wrapper {
    .content {
      margin-left: 24px;
      margin-right: 16px;
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    flex-wrap: wrap;
    .index {
      flex: 0 0 25px;
      max-width: 25px;
    }
    .content {
      margin-right: 0;
      margin-left: 25px;
      flex: 0 0 90%;
      max-width: 90%;
      .description {
        margin-top: 8px;
      }
    }
    .thumbnailWrap {
      margin-bottom: 8px;
      flex: 0 0 90%;
      max-width: 90%;
    }
  }
}
