.item {
  padding-top: 32px;
  padding-bottom: 32px;
  @media (max-width: 767.98px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  > div {
    margin-top: 0;
    > div {
      padding: 0;
      border: none;
      > div:first-child {
        display: none;
      }
      > div:nth-child(2) {
        margin-left: 0;
      }
    }
  }
}
.item + .item {
  margin-top: 24px;
}
.pagination {
  text-align: center;
}
