.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: var(--z-index-header);
  width: 100%;
  height: 120px;
  background-color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  transition: var(--transition-hover);
  box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
  .category {
    height: 40px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    .wrap {
      padding: 8px 24px 8px 32px;
      width: 100%;
      .link {
        color: #fff;
        line-height: 22px;
        &:hover,
        &.active {
          color: var(--hover-link);
        }
      }
      .language {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: auto;
        img {
          display: block;
        }
        .text {
          color: #fff;
        }
      }
    }
  }
  .autoComplete {
    width: 100%;
  }
  .search {
    padding: 16px 24px;
    height: 80px;
    .searchRow {
      height: 100%;
      .searchCol {
        margin: auto 0;
        margin-left: 50px;
        height: 40px;
        width: 556px;
        span {
          box-shadow: none;
        }
        @media (max-width: 1199.98px) {
          width: 40%;
        }
        @media (max-width: 991.92px) {
          margin-left: 0;
          margin-top: 40px;
          width: 80%;
        }
      }
      .action {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        .wrap {
          margin: auto 0;
          margin-left: auto;
        }
        .btnRegister {
          padding: 6px 15px;
          .text {
            color: var(--primay);
          }
        }
        .btnSignIn {
          padding: 6px 15px;
          border-color: #fff;
          box-shadow: none;
          &:hover .text {
            opacity: 0.8;
          }
          .text {
            transition: all 0.3s linear;
            color: var(--primary);
          }
        }
      }
    }
  }
  .close {
    display: none;
  }
}
.overlay {
  display: none;
}
.headerMobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
  width: 100%;
  height: 64px;
  background-color: #072a88;
  display: none;
}

@media (min-width: 992px) {
  .wrapper {
    &.hide {
      transform: translateY(-100%);
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    // position: relative;
    &.open {
      transform: translateX(0);
    }
    transform: translateX(-101%);
    padding-top: 20px;
    width: 60%;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    left: 0;
    right: unset;
    background-color: #fff;
    box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
    z-index: 200;
    .category {
      height: fit-content;
      background-color: #fff;
      margin-bottom: 500px;
      position: initial;
      .wrap {
        .linkWrap {
          width: 100%;
        }
        .link {
          color: var(--neutral-8);
          font-weight: 600;
          font-size: 16px;
        }

        .language {
          position: absolute;
          bottom: 87px;
          left: 280px;
          .text {
            color: #000;
          }
        }
      }
    }

    .search {
      height: fit-content;
      position: initial;
      margin-bottom: 60px;
    }

    .action {
      justify-content: flex-start;
      position: absolute;
      bottom: 80px;
      .btnSignIn {
        border: 1px solid var(--primary) !important;
        color: var(--primary);
      }
    }
    .close {
      display: block;
      position: absolute;
      top: 48px;
      right: 20px;
      cursor: pointer;
      .icon {
        color: var(--primary);
        font-size: 20px;
      }
    }
  }
  .overlay {
    transition: var(--transition-hover);
    transform: translateX(-101%);
    &.open {
      transform: translateX(0);
    }
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .headerMobile {
    transition: var(--transition-hover);
    &.scrollDown {
      background-color: #072a88;
    }
    &.hide {
      transform: translateY(-100%);
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menuIcon {
      cursor: pointer;
    }
  }
}

@media (max-width: 599px) {
  .wrapper {
    // position: relative;
    width: 100%;
    .category {
      margin-bottom: 360px;
      .wrap {
        flex-direction: column;
        .link {
          color: var(--neutral-8);
        }
        .language {
          .text {
            color: #000;
          }
        }
      }
    }

    .action {
      justify-content: flex-start;
    }
  }
}
