.wrapper {
  padding: 24px;
  cursor: pointer;
  width: 100%;
  .logoWrap {
    width: 64px;
    height: 64px;
    position: relative;
    box-shadow: 0px 6px 15px rgba(44, 61, 106, 0.15);
    border-radius: 8px;
    overflow: hidden;
    .logo {
      object-fit: cover;
    }
  }
  .content {
    min-height: 118px;
  }
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .codeWrap {
    display: flex;
    .code {
      font-size: 12px;
      color: var(--neutral-8);
      margin-right: 3px;
      word-break: break-all;
    }
    .iconWrap {
      display: flex;
      align-items: center;
      &:hover {
        .icon {
          color: var(--primary);
        }
      }
    }
    .icon {
      transition: var(--transition-hover);
      cursor: pointer;
      font-size: 12px;
      &.copied {
        color: var(--primary);
      }
    }
  }
  .tagWrap {
    flex-wrap: nowrap;
    min-height: 24px;
  }
  .tag + .tag {
    margin-left: 8px;
  }
  .tag {
    word-break: break-all;
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 12px;
    .tag + .tag {
      margin-left: 4px;
    }
  }
}
