._customSelect {
  > div {
    background: none !important;
    padding: 0 !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: 0.006em;

    /* Royal Blue/Royal Blue */
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: #2f61e6 !important;
    span {
      padding-right: 0 !important;
      color: #2f61e6 !important;
    }
  }
}
