.bg {
  background-color: #ffffff;
}
.bgGrey {
  background-color: #f5f5f5;
  border-radius: 32px 32px 0 0;
}
.wrapper {
  margin-top: var(--header-height-category);
  padding-bottom: 120px;
  @media (max-width: 991.98px) {
    margin-top: var(--header-height-mobile);
    padding-bottom: 90px;
  }
  .hide {
    display: none;
  }
  .pagination {
    text-align: center;
  }
  .breadcrumb {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}
.wrapper2 {
  padding: 120px 0;
  @media (max-width: 1199.98px) {
    padding: 80px 0 120px 0;
  }

  @media (max-width: 576px) {
    padding: 35px 0 60px 0;
  }
}
.listNews {
  margin-top: 32px;
}
h2.title {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
}
.thumbnailWrap {
  height: 416px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  .thumbnail {
    &:hover {
      transform: scale(1.1);
    }
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }
}
.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.012em;
  font-weight: 400;
}
._source {
  font-size: 16px;
  line-height: 24px;

  font-weight: 400;
  letter-spacing: -0.012em;

  color: #bfbfbf;
}
.BlockWrap {
  height: 220px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;

  .thumbnail {
    transition: all 0.4s ease-in-out;
  }
}
h3.titleBlock {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.006em;
  color: #262626;
}
.desBlock {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.012em;
  color: #595959;
}
._block {
  display: block;
  &:hover {
    .thumbnail {
      transform: scale(1.1);

      object-fit: cover;
      transition: all 0.4s ease-in-out;
    }
  }
}
._wrappBlock {
  position: relative;
  &::after {
    content: '';
    top: 50%;
    right: -1px;
    background: #d9d9d9;
    height: 100%;
    width: 1px;
    position: absolute;
    transform: translateY(-50%);
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
