.wrapper {
  cursor: pointer;
  flex-wrap: nowrap;
  .logoWrap {
    width: 64px;
    height: 64px;
    position: relative;
    box-shadow: 0px 6px 15px rgba(44, 61, 106, 0.15);
    border-radius: 8px;
    overflow: hidden;
    .logo {
      object-fit: cover;
    }
  }
  .title {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
  .tagWrap {
    flex-wrap: nowrap;
  }
  .tag + .tag {
    margin-left: 8px;
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    flex-wrap: wrap;
    .logoWrap {
      margin-bottom: 12px;
    }
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    flex-wrap: nowrap;
    .logoWrap {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 12px;
    .tag + .tag {
      margin-left: 4px;
    }
  }
}
