.tag {
  top: -6px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  svg {
    display: flex;
  }
  span {
    color: #fff;
  }
  &.hide {
    display: none;
  }
}
.wrapper {
  padding: 16px 0;
  transition: box-shadow 0.25s ease-in-out !important;
  cursor: pointer;

  .titleGroup {
    flex-wrap: nowrap;
    align-items: center;
  }

  .logoWrap {
    border: 1.15625px solid #f0f0f0;
    border-radius: 4.625px;
    overflow: hidden;
    min-width: 74px;
    min-height: 74px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 48px;
    @media (max-width: 575.98px) {
      margin-left: 24px;
    }
  }

  .text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    word-break: break-all;
    font-size: 12px;
    color: var(--neutral-10);
  }

  .copy {
    color: var(--neutral-10);
    cursor: pointer;
  }

  .col {
    height: fit-content;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
    @media (max-width: 575.98px) {
      padding-right: 24px;
      margin-left: 12px;
    }
  }

  .empty {
    text-align: center;
  }
  .emptyLocation {
    display: flex;
    justify-content: flex-end;
  }

  .icon {
    margin-bottom: 1px;
  }

  .location {
    padding-right: 48px;
    width: 100%;
    justify-content: flex-end;
  }
  .content {
    color: var(--neutral-10);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}
