.bg {
  background-color: #ffffff;
}
.bgGrey {
  background-color: #f5f5f5;
  border-radius: 32px 32px 0 0;
}
.wrapper {
  margin-top: var(--header-height-category);
  padding-bottom: 120px;
  .hide {
    display: none;
  }
  .pagination {
    text-align: center;
  }
  .breadcrumb {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}
.wrapper2 {
  padding: 120px 0;
}
.listNews {
  margin-top: 32px;
  @media (max-width: 576px) {
    margin-top: 15px;
  }
}
h2.title {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;

  @media (max-width: 1024px) {
    font-size: 30px;
    line-height: 38px;
  }
  @media (max-width: 922px) {
    font-size: 24px;
    line-height: 28px;
  }
  @media (max-width: 576px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.thumbnailWrap {
  height: 416px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  .thumbnail {
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
    }
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }
  @media (max-width: 1024px) {
    height: 334px;
  }
  @media (max-width: 922px) {
    height: 249px;
  }
  @media (max-width: 576px) {
    height: 262px;
  }
}
.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.012em;
  font-weight: 400;
  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 22px;
  }
  @media (max-width: 922px) {
    font-size: 14px;
    line-height: 20px;
  }
}
._source,
._sourceBottom {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.012em;
  color: #bfbfbf;
  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 22px;
  }
  @media (max-width: 922px) {
    font-size: 14px;
    line-height: 20px;
  }
}
._sourceBottom {
  font-size: 14px;
  margin: 8px 0;
}
.BlockWrap {
  height: 220px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  @media (max-width: 1024px) {
    height: 178px;
  }
  @media (max-width: 992px) {
    height: 207px;
  }
  @media (max-width: 576px) {
    height: 262px;
  }

  .thumbnail {
    transition: all 0.4s ease-in-out;
  }
}
h3.titleBlock {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.006em;
  color: #262626;
}
.desBlock {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.012em;
  color: #595959;
}
._block {
  display: block;
  .thumbnail {
    transition: all 0.4s ease-in-out;
    object-fit: cover;
  }
  &:hover {
    .thumbnail {
      transform: scale(1.1);

      object-fit: cover;
      transition: all 0.4s ease-in-out;
    }
  }
}
._wrappBlock {
  position: relative;
  &::after {
    content: '';
    top: 50%;
    right: -1px;
    background: #d9d9d9;
    height: 100%;
    width: 1px;
    position: absolute;
    transform: translateY(-50%);
    @media (max-width: 992px) {
      display: none !important;
    }
  }
  &:nth-of-type(3n) {
    &::after {
      display: none;
    }
    @media (max-width: 992px) {
      &::after {
        display: block;
      }
    }
  }

  &:nth-of-type(2n) {
    @media (max-width: 992px) {
      &::after {
        display: none;
      }
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}
