.tag {
  top: 16px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  svg {
    display: flex;
  }
  span {
    color: #fff;
  }
  &.hide {
    display: none;
  }
}
.wrapper {
  padding: 24px;
  cursor: pointer;

  .separation {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.06);
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .categoryCol {
    min-height: 24px;
  }

  .defaultThumbnail {
    background-color: var(--neutral-6);
    width: 100%;
    height: 100%;
  }
  .defaultLogo {
    background-color: var(--neutral-3);
    width: 100%;
    height: 100%;
  }

  .thumbnailWrap {
    height: 92px;
    width: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    .thumbnail {
      object-fit: cover;
    }
    .overlay {
      > div {
        padding: 8px;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      background: linear-gradient(360deg, #000000 -46.32%, rgba(0, 0, 0, 0) 50%);
    }
    .logoWrap {
      position: relative;
      padding: 4px;
      height: 76px;
      width: 76px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 70px;
      border-radius: 2px;
      overflow: hidden;
      background-color: #fff;
      .logo {
        object-fit: cover;
      }
    }
    .textWrap {
      display: flex;
      align-items: flex-end;
      margin-left: 6px;
      span {
        font-size: 12px;
        color: #fff;
      }
      .text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        -webkit-line-clamp: 1;
        word-break: break-all;
      }
    }
  }

  .title {
    min-height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 9px;
  }
  .label {
    color: var(--neutral-9);
    font-size: 12px;
    display: block;
    line-height: 20px;
  }
  .icon {
    margin-bottom: 5px;
  }
  .contentWrap {
    margin: auto 0;
  }
  .content {
    color: var(--neutral-8);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 1199.98px) {
  .wrapper {
    padding: 20px;
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    .title {
      margin-top: 16px;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    padding: 24px;
  }
}
