.wrapper {
  padding: 16px 24px;
  cursor: pointer;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      max-width: 80%;
    }
    .amount {
      color: rgba(47, 97, 230, 0.8);
      font-weight: 600;
      font-size: 12px;
      background: rgba(47, 97, 230, 0.1);
      border-radius: 4px;
      padding: 1px 8px;
      transition: var(--transition-hover);
      font-family: 'ui-display', -apple-system, BlinkMacSystemFont, sans-serif;
    }
  }
  &:hover {
    .amount {
      color: #fff;
      background-color: var(--primary);
    }
  }
}
