.card-company {
  background: #ffffff;
  border-radius: 16px;
  padding: 0 62px 56px;
  .title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--neutral-6);
  }
  .title {
    font-size: 20px;
    line-height: 28px;
  }
  .view-detail {
    cursor: pointer;
    line-height: 22px;
    color: var(--primary);
    transition: var(--transition-hover);
    &:hover {
      opacity: 0.8;
    }
  }
  .content {
    margin-top: 24px;
  }
}

.card-company.small {
  padding: 0 32px 48px;
  .title-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--neutral-6);
  }
  .title {
    font-size: 16px;
    line-height: 24px;
  }
}

.btn-company {
  display: flex;
  align-items: center;
  padding: 4px 15px;
  height: 32px;
  .icon {
    margin-right: 8px;
  }
}

.adsWrapCompany {
  height: 660px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .card-company {
    padding: 0 40px 36px;
    .title-group {
      padding-top: 36px;
      .title {
        font-size: 19px;
      }
    }
  }
  .card-company.small {
    padding: 0 24px 34px;
    .title-group {
      padding-top: 36px;
    }
    .title {
      font-size: 15px;
    }
  }
  .adsWrapCompany {
    height: 450px;
  }
}

@media (max-width: 767.92px) {
  .card-company,
  .card-company.small {
    padding: 0 30px 28px;
    .title-group {
      padding-top: 28px;
      .title {
        font-size: 20px;
      }
    }
  }
  .adsWrapCompany {
    background-color: #fff;
    height: 660px;
    display: flex;
    .ads {
      object-fit: contain;
      margin: auto;
      width: 330px !important;
    }
  }
}

@media (max-width: 575.92px) {
  .card-company,
  .card-company.small {
    padding: 0 12px 18px;
    .title-group {
      padding-top: 24px;
      .title {
        font-size: 18px;
      }
    }
  }
}
