.home-container {
  max-width: 1440px;
  margin: 0 auto;
  .home-wrapper {
    padding: 0 (142/1440) * 100%;
  }
}

.home-select {
  .ant-select-selection-placeholder {
    font-size: 16px;
    line-height: 24px;
    color: #898989;
  }
}

.home-multiple-select {
  .ant-select-selection-placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #898989;
    padding: 0 7px;
  }
  .ant-select-selector {
    border-radius: 4px !important;
  }
  .ant-select-multiple.ant-select-sm .ant-select-selection-search-input {
    margin-left: 6px;
  }
}

// .home-multiple-select-home {
//   .ant-select-selection-placeholder {
//     font-size: 14px;
//     line-height: 22px;
//     color: #898989;
//   }
// }

.home-search {
  width: 100%;
  .ant-input-group > .ant-input-affix-wrapper:not(:last-child) .ant-input {
    border-radius: 0;
  }
  .ant-input-search .ant-input-affix-wrapper {
    height: 40px;
  }
  .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    padding: 9px 15px;
    border-radius: 0 8px 8px 0;
    height: 40px;
  }

  .ant-input-group-addon {
    background-color: transparent;
  }

  .ant-input-group .ant-input {
    height: 40px;
  }
}

@media (max-width: 1200px) {
  .home-container {
    .home-wrapper {
      padding: var(--padding-lg-header);
    }
  }
}

@media (max-width: 767.98px) {
  .home-container {
    .home-wrapper {
      padding: var(--padding-sm-header);
    }
  }
}

@media (max-width: 575.98px) {
  .home-container {
    .home-wrapper {
      padding: var(--padding-xs-header);
    }
  }
}
