._newsColabMobile{
  display: none;
  @media (max-width: 576px) {
    display: block;
  }
    .ant-collapse-content-box{
      height: 232px;
      overflow-x: auto;
    }
}
.pc{
  display: block;
  @media (max-width: 576px) {
    display: none;
  }
}
