@import '~nprogress/nprogress.css';
@import 'react-toastify/dist/ReactToastify.css';
@import './theme.less';
@import 'swiper/less';
@import 'react-phone-input-2/lib/style.css';
@import 'swiper/less/navigation';
@import 'swiper/less/pagination';
@import './layouts/';
@import './pages/';
@import './components/';

@font-face {
  font-family: 'ui-text';
  font-weight: normal;
  font-style: normal;
  src: url('/font/SFUIText-Regular.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ui-display';
  font-weight: normal;
  font-style: normal;
  src: url('/font/SFUIDisplay-Semibold.otf') format('truetype');
  font-display: swap;
}

html {
  font-family: 'ui-text', -apple-system, BlinkMacSystemFont, sans-serif;
  overflow-x: hidden;
}

.tw-container {
  max-width: 1440px;
  margin: 0 auto;
  .tw-wrapper {
    padding: 0 (80/1440) * 100%;
  }
}

.breadcrumb {
  margin-top: 32px;
  margin-bottom: 24px;
}

.empty {
  margin: auto;
}

.ads {
  margin: 0 auto;
  border-radius: 16px;
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
  height: auto !important;
  @media (max-width: 767.98px) {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
  }
}

.phone-input {
  &:focus {
    border-color: #5786f2 !important;
    box-shadow: 0 0 0 2px rgb(47 97 230 / 20%) !important;
  }
  height: 40px !important;
  border-radius: 8px !important;
  transition: all 0.3s;
}

.phone-input:focus ~ .phone-input-button {
  border-left-color: #5786f2 !important;
  border-bottom-color: #5786f2 !important;
  border-top-color: #5786f2 !important;
}

.phone-input-button {
  border-radius: 8px 0 0 8px !important;
  transition: all 0.3s;
  > div {
    border-radius: 8px 0 0 8px !important;
  }
}

:root {
  --primary: #2f61e6;
  --hover-link: #6ae2f8;
  --text-normal: #474f5e;
  --neutral-11: #1f1f1f;
  --neutral-10: #262626;
  --neutral-9: #434343;
  --neutral-8: #595959;
  --neutral-7: #8c8c8c;
  --neutral-6: #bfbfbf;
  --neutral-5: #d9d9d9;
  --neutral-3: #f5f5f5;

  --z-index-header: 100;

  --transition-hover: all ease-in-out 0.25s;

  --header-height: 80px;
  --header-height-mobile: 64px;
  --header-height-category: 120px;

  --padding-lg-header: 0 calc((100 / 1440) * 100%);
  --padding-sm-header: 0 calc((80 / 1440) * 100%);
  --padding-xs-header: 0 16px;
}

.tag {
  font-size: 12px;
  padding: 1px 8px;
  color: rgba(47, 97, 230, 0.8);
  border: 1px solid rgba(47, 97, 230, 0.6);
  border-radius: 4px;
  min-width: 34px;
  word-break: break-all;
}

.hoverTitle {
  a {
    color: var(--neutral-10);
    &:hover {
      color: var(--primary);
    }
  }
}

.hoverItem {
  background-color: #fff;
  line-height: 20px;
  transition: var(--transition-hover);
  box-shadow: 0px 6px 15px rgba(44, 61, 106, 0.15);
  border-radius: 8px;
  h3 {
    transition: var(--transition-hover);
  }
  &:hover {
    box-shadow: 0px 10px 20px rgba(44, 61, 106, 0.27);
    h3 {
      color: var(--primary);
    }
  }
}

.wrapperLoading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10000;
  .loaderLoading {
    width: 42px;
    height: 42px;
    border: 2px solid var(--primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotationLoading 1s linear infinite;
  }
}

@keyframes rotationLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
}

.ellipsis.oneline {
  -webkit-line-clamp: 1;
}

.ellipsis.twoline {
  -webkit-line-clamp: 2;
}

.ellipsis.threeline {
  -webkit-line-clamp: 3;
}

.ellipsis.fourline {
  -webkit-line-clamp: 4;
}
