@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import 'antd-button-color/dist/css/style.less';

@primary-color: #2f61e6;
@highlight-color: #c72d1b;
@success-color: #28a745;
@warning-color: #f59e19;
@info-color: #17a2b8;
@dark-color: #343a40;
@light-dark-color: #b5bbc6;

@height-base: 42px;
@height-lg: 48px;
@height-sm: 36px;

@btn-height-lg: 48px;
@btn-height-base: 42px;

@btn-border-radius-base: 4px;
@btn-padding-horizontal-base: 15px;
@btn-font-weight: 500;

@font-size-base: 14px;
@font-size-sm: 13px;
@text-color: rgba(0, 0, 0, 0.65);
@text-color-secondary: rgba(0, 0, 0, 0.25);
@font-family: 'ui-text', -apple-system, BlinkMacSystemFont, sans-serif;

@border-radius-base: 4px;
@border-color-base: #c6cedb;
@component-background: #ffffff;
@typography-title-font-weight: 700;

@control-padding-horizontal: 16px;
@control-border-radius: 8px;

@input-bg: #ffffff;
@input-color: #252a32;
@input-hover-border-color: none;
@input-height-base: 40px;
@select-single-item-height-lg: 38px;
@select-dropdown-height: 30px;
@select-border-color: transparent;
@select-background: #fff;

@label-required-color: @highlight-color;
@label-color: #474f5e;
@form-warning-input-bg: @input-bg;
@form-item-margin-bottom: 24px;
@form-item-trailing-colon: true;
@form-vertical-label-padding: 0 0 4px;
@form-vertical-label-margin: 0;
@form-item-label-font-size: 14px;
@form-item-label-height: 22px;
@form-item-label-colon-margin-right: 4px;
@form-item-label-colon-margin-left: 2px;
@form-error-input-bg: @input-bg;

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography,
h5.ant-typography {
  margin-bottom: 0;
  color: var(--neutral-11);
  font-family: 'ui-display', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
}

strong {
  font-family: 'ui-display', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 600;
}

.ant-tag-blue {
  background: rgba(47, 97, 230, 0.1);
  color: rgba(47, 97, 230, 0.8);
  border: rgba(47, 97, 230, 0.1);
}

//Pagination
.ant-pagination-item {
  border-radius: 4px;
  margin: 0 4px !important;
}
.ant-pagination-prev {
  margin-right: 4px !important;
}
.ant-pagination-next {
  margin-left: 4px !important;
}
.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  min-width: 32px !important;
  height: 32px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 30px !important;
}
.ant-pagination.ant-pagination-mini .ant-pagination-item-link {
  background-color: var(--primary) !important;
  color: #fff !important;
}
.ant-pagination.ant-pagination-mini .ant-pagination-item:not(.ant-pagination-item-active) {
  border-color: rgba(47, 97, 230, 0.8);
  a {
    color: rgba(47, 97, 230, 0.8);
  }
  &:hover {
    border-color: var(--primary);
    background-color: rgba(47, 97, 230, 0.1);
    a {
      color: var(--primary);
    }
  }
}
.ant-pagination .ant-pagination-item-active {
  border-color: var(--primary);
  background-color: rgba(47, 97, 230, 0.1);
  a {
    color: var(--primary);
  }
}
.ant-pagination-prev:not(.ant-pagination-disabled),
.ant-pagination-next:not(.ant-pagination-disabled) {
  button {
    &:hover {
      opacity: 0.8;
    }
  }
}
.ant-pagination-jump-next.ant-pagination-jump-next-custom-icon,
.ant-pagination-jump-prev.ant-pagination-jump-prev-custom-icon {
  .ant-pagination-item-link {
    background-color: transparent !important;
  }
}
.ant-pagination-item-ellipsis {
  left: -5px;
}
.ant-pagination-options {
  display: none !important;
}
.ant-pagination .ant-pagination-jump-prev,
.ant-pagination .ant-pagination-jump-next {
  min-width: 32px;
}

//Select
.ant-select-dropdown {
  border-radius: 8px;
  padding: 2px 0;
}

.ant-progress-inner {
  background-color: #d9d9d9;
}

//beadcrumb
.ant-breadcrumb a {
  color: rgba(0, 0, 0, 0.45);
}
.ant-breadcrumb li:last-child {
  color: rgba(0, 0, 0, 0.85);
}

.ant-ribbon {
  border-radius: 4px;
}

@media (max-width: 575.98px) {
  .ant-pagination-item {
    margin: 0 4px !important;
  }
  .ant-pagination-prev {
    margin-right: 4px !important;
  }
  .ant-pagination-next {
    margin-left: 4px !important;
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: 28px !important;
    height: 28px !important;
    line-height: 26px !important;
  }
}

.ant-btn-primary[disabled],
.ant-btn-primary[disabled]:hover,
.ant-btn-primary[disabled]:focus,
.ant-btn-primary[disabled]:active {
  opacity: 0.8;
  color: initial;
  background: gainsboro;
  border-color: gainsboro;
}
