.wrapper {
  position: relative;
  height: 420px;
  display: flex;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;

  .bannerMobile {
    display: none !important;
  }
  .overlay {
    background: linear-gradient(360deg, var(--primary) -46.32%, rgba(0, 0, 0, 0) 20%);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .content {
    position: relative;
    border-radius: 16px;
    width: 100%;
    margin: auto 0;
    margin-left: (118/1156) * 100%;
    span,
    h3 {
      color: #fff;
    }
    .head {
      margin-bottom: 8px;
      display: block;
      font-size: 16px;
    }
    .title {
      font-size: 38px;
      line-height: 46px;
    }
    .btn {
      border-color: #fff;
      padding: 7px 15px;
      &:hover {
        opacity: 0.8;
      }
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    height: 440px;
    .content {
      .title {
        font-size: 30px;
        line-height: 40px;
      }
      margin-left: 40px;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    height: 600px;
    .banner {
      display: none;
    }
    .bannerMobile {
      object-fit: cover;
      display: block !important;
    }
    .content {
      margin: 48px 12px 0;

      .title {
        font-size: 30px;
        line-height: 50px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    .content {
      .head {
        font-size: 14px;
        line-height: 22px;
      }
      .title {
        font-size: 24px;
        line-height: normal;
      }
    }
  }
}
