.profile {
  .item {
    padding-top: 24px;
    padding-bottom: 24px;
    > div {
      margin-top: 0;
      > div {
        padding: 0;
        border: none;
      }
    }
  }
  .item + .item {
    margin-top: 24px;
  }
}
.pagination {
  text-align: center;
}
