.paddingCard {
  padding: 0 32px 0 62px;
  @media (max-width: 991.98px) {
    padding: 0 32px 0 40px;
  }
  @media (max-width: 768px) {
    padding: 0 12px 0 30px;
  }
  @media (max-width: 576px) {
    padding: 0 12px 0 12px;
  }
}

.wrapper *::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #a7acb4;
  border-radius: 1px;
}

.wrapper *::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #a7acb4;
}

.wrapper *::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #fff4f0;
}

.empty {
  width: 34px;
}

.bg {
  background-color: #f5f5f5;
}

.wrapper {
  margin-top: var(--header-height-category);
  padding-bottom: 120px;
  @media (max-width: 991.98px) {
    margin-top: var(--header-height-mobile);
    padding-bottom: 90px;
  }
  .colCenter {
    display: flex;
    align-items: center;
    padding-left: 56px;
    .btnGroup {
      @media (min-width: 1200px) {
        justify-content: flex-end;
        width: 100%;
      }
    }
    @media (max-width: 1450px) {
      padding-left: 20px;
    }
    @media (max-width: 1200px) {
      padding: 0;
    }
  }
  .colLeft {
    padding-right: 63px;
    padding-bottom: 4px;
    overflow: auto;
    @media (max-width: 1450px) {
      padding-right: 20px;
    }
    @media (max-width: 1200px) {
      padding: 0;
    }
  }
  .topCard {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    .coverImage {
      position: relative;
      height: 234px;
      width: 100%;
      .img {
        object-fit: cover;
      }
    }
    .avatarWrap {
      transform: translateY(-30px);
      flex-wrap: nowrap;
      .avatar {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
        border-radius: 8px;
        background-color: #fff;
      }
      .title {
        font-size: 24px;
        line-height: 32px;
        min-height: 64px;
        @media (max-width: 1199.98px) and (min-width: 992px) {
          min-height: 32px;
          -webkit-line-clamp: 1;
        }
      }
      .contactCol {
        @media (min-width: 992px) {
          flex: 1;
        }
        @media (max-width: 992px) {
          width: 100%;
        }
      }
      .contact {
        .join,
        .confirm {
          font-size: 12px;
          line-height: 20px;
          color: var(--neutral-6);
          @media (max-width: 1335px) and (min-width: 1200px) {
            font-size: 11px;
          }
        }
        .confirm {
          color: #389e0d;
        }
        .btn {
          &.disabled {
            strong {
              color: rgba(0, 0, 0, 0.25) !important;
            }
            path {
              fill: rgba(0, 0, 0, 0.25) !important;
            }
          }
          @media (max-width: 1335px) {
            font-size: 13px;
            padding: 2px 7px;
          }
        }
      }
    }
    .subTab {
      height: 53px;
      display: none;
      &.show {
        display: block;
      }
      @media (max-width: 991.98px) {
        height: 43px;
      }
      @media (max-width: 575.98px) {
        height: 39px;
      }
    }
    .tab {
      border-top: 1px solid #f0f0f0;
      width: 100%;
      overflow-x: auto;
      .tabRow {
        min-width: 885px;
        flex-wrap: nowrap;
      }
      .tabItem {
        padding: 13px 0;
        margin: 0 20px;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        transition: color, fill, border 0.25s ease-in-out;
        * {
          transition: color, fill, border 0.25s ease-in-out;
        }
        > div:first-child {
          display: flex;
        }
        &.active,
        &:hover {
          border-bottom-color: var(--primary);
          span {
            color: var(--primary);
          }
          path {
            fill: var(--primary);
          }
        }
      }
      .subTitle {
        display: none !important;
      }
    }
    .tab.upTop {
      position: fixed;
      left: 0;
      right: 0;
      animation: fadeinout 0.3s;
      transition: margin 0s;
      top: var(--header-height-category);
      width: 100%;
      background-color: #fff;
      z-index: 100;
      box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
      padding: 0 24px;
      .tabItem {
        transition: none;
        margin-left: 0;
        margin-right: 52px;
      }
      .subTitle {
        height: fit-content;
        margin: auto 0 auto auto;
        max-width: 30%;
        h2 {
          font-size: 16px;
          color: var(--neutral-11);
        }
        &.show {
          display: flex !important;
          @media (max-width: 991.98px) {
            display: none !important;
          }
        }
      }
    }
  }
  .contentActive {
    margin-top: 56px;
    .wrapperActive {
      .contact {
        .content {
          margin-top: 16px;
          .link {
            color: var(--primary);
            cursor: pointer;
            font-size: 12px;
          }
          .text {
            color: var(--neutral-9);
            font-size: 12px;
          }
          img {
            border-radius: 4px;
          }
        }
        .share {
          margin-top: 32px;
          padding-top: 16px;
          border-top: 1px solid #f0f0f0;
          .linkShare {
            transition: var(--transition-hover);
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
      .company {
        .content {
          .companyItem {
            padding-top: 16px;
            padding-bottom: 24px;
            border-bottom: 1px solid #f0f0f0;
            a > div {
              box-shadow: none;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .wrapper {
    .topCard {
      .avatarWrap {
        .contact {
          .btn {
            border: none;
            color: var(--primary);
            background-color: #fff;
            box-shadow: none;
            .icon {
              path {
                fill: var(--primary);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    .topCard {
      .avatarWrap {
        flex-wrap: wrap;
      }
      .tab {
        &.upTop {
          top: var(--header-height-mobile);
          box-shadow: 0px 10px 20px -8px rgba(44, 61, 106, 0.25);
          .tabItem {
            margin-right: 24px;
          }
          .tabRow {
            min-width: 800px;
          }
        }
        .tabRow {
          min-width: 680px;
        }
        .tabItem {
          padding: 8px 0;
          margin: 0;
        }
      }
    }
    .contentActive {
      margin-top: 32px;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    padding-bottom: 60px;
    .topCard {
      .coverImage {
        height: 150px;
      }
      .avatarWrap {
        .avatar {
          width: 120px;
          height: 120px;
        }
        .title {
          font-size: 20px;
          text-align: center;
        }
        > div {
          margin: auto;
        }
      }
      .tab {
        overflow-x: unset;
        &.upTop {
          .tabRow {
            min-width: unset;
            width: unset;
          }
          .tabItem {
            margin-right: 0;
          }
        }
        .tabRow {
          min-width: unset;
          width: unset;
          justify-content: space-between;
        }
        .tabItem {
          justify-content: center;
          margin-right: 0;
          > div:last-child {
            display: none;
          }
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .contentActive {
      margin-top: 24px;
    }
  }
}
@keyframes fadeinout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
