.wrapper {
  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    transition: var(--transition-hover);

    &:hover {
      color: var(--primary);
    }
  }
  .taxGroup {
    > div:first-child {
      min-height: 22px;
      display: flex !important;
    }
  }
  .label {
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: var(--neutral-6);
  }
  .nextWrap {
    display: flex;
    > div {
      margin-top: auto;
    }
  }
  .next {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: var(--neutral-7);
    min-height: 40px;
  }
  .thumbnailWrap {
    height: 456px;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    .thumbnail {
      object-fit: cover;
      &:hover {
        transform: scale(1.1);
      }
      object-fit: cover;
      transition: all 0.4s ease-in-out;
    }
  }
}

@media (max-width: 767.98px) {
  .wrapper {
    .thumbnailWrap {
      height: 300px;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    .thumbnailWrap {
      height: 200px;
    }
  }
}
