.wrapper {
  .backLink {
    margin-top: 48px;
    margin-bottom: 24px;
    span {
      color: var(--neutral-6);
      cursor: pointer;
    }
  }
  .content {
    ul {
      padding-left: 16px;
      margin: 0;
    }
    li::marker {
      color: var(--primary);
    }
    li {
      padding: 0;
      margin: 0;
      margin-bottom: 4px;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .list {
    padding-top: 48px;
    padding-bottom: 48px;
    h2 {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 16px;
      border-bottom: 1px solid #BFBFBF;
    }
    .listItem {
      margin-top: 24px;
      .thumbnailWrap {
        width: 100%;
        position: relative;
        height: 142px;
        border-radius: 4px;
        overflow: hidden;
      }
      h3 {
        margin-top: 16px;
        font-size: 14px;
        line-height: 22px;
        min-height: 44;
        color: var(--neutral-10);
      }
    }
  }
}
