.bg {
  background-color: #ffffff;
}
.bgGrey {
  background-color: #f5f5f5;
  border-radius: 32px 32px 0 0;
}

.listNews {
  margin-top: 32px;
}
h2.title {
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
}
.thumbnailWrap {
  height: 416px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  .thumbnail {
    &:hover {
      transform: scale(1.1);
    }
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }
}
.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.012em;
  font-weight: 400;
}
._source {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.012em;
  color: #595959;
  > strong {
    font-weight: 600;
  }
  > a {
    letter-spacing: 0.006em;
    color: #2f61e6;
    font-weight: 600;
  }
}
.BlockWrap {
  height: 220px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;

  .thumbnail {
    transition: all 0.4s ease-in-out;
  }
}
h3.titleBlock {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.006em;
  color: #262626;
}
.desBlock {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.012em;
  color: #595959;
}
._block {
  display: block;
  &:hover {
    .thumbnail {
      transform: scale(1.1);

      object-fit: cover;
      transition: all 0.4s ease-in-out;
    }
  }
}
._wrappBlock {
  position: relative;
  &::after {
    content: '';
    top: 50%;
    right: -1px;
    background: #d9d9d9;
    height: 100%;
    width: 1px;
    position: absolute;
    transform: translateY(-50%);
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}
.wrapper {
  margin-top: var(--header-height-category);
  padding-bottom: 120px;
  @media (max-width: 991.98px) {
    margin-top: var(--header-height-mobile);
    padding-bottom: 90px;
  }

  .breadcrumb {
    margin-top: 32px;
  }

  .rightCol {
    width: 100%;
    height: 100%;
  }
}


.wrappContent{

  padding-top: 48px;
  @media (max-width: 575.98px) {
    padding-top: 26px;
  }
}
.content {
 
  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  @media (max-width: 575.98px) {
    font-size: 14px;
    line-height: 22px;
  }

  strong {
    font-weight: 600;
    // font-size: 16px;
    // line-height: 24px;
    // letter-spacing: 0.006em;
    color: #262626;
  }
  h3{
    // font-style: normal;
    // font-weight: 600;
    // font-size: 20px;
    // line-height: 28px;
    // letter-spacing: 0.006em;
    // color: #262626;
    // margin-bottom:2rem ;
    // margin-top:3.5rem ;
    font-family: 'ui-display', -apple-system, BlinkMacSystemFont, sans-serif;

  }
  h2{
    font-family: 'ui-display', -apple-system, BlinkMacSystemFont, sans-serif;
    // font-style: normal;
    // font-weight: 600;
    // font-size: 30px;
    // line-height: 40px;
    // letter-spacing: 0.006em;
    // color: #262626;
    // margin-bottom:2rem ;
    // margin-top:3.5rem ;
  }
  h1{
    font-family: 'ui-display', -apple-system, BlinkMacSystemFont, sans-serif;
    // font-style: normal;
    // font-weight: 600;
    // font-size: 38px;
    // line-height: 46px;
    // letter-spacing: 0.006em;
    // color: #262626;
    margin-bottom:2rem ;
    // margin-top:3.5rem ;

    @media (max-width: 575.98px) {
      font-size: 22px;
      line-height: 26px;
    }
  }
  ul,ol{
    li{
      margin-bottom: 1.20em;
    
     
      @media (max-width: 575.98px) {
        font-size: 14px;
        line-height: 22px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  a {
    font-weight: 400;
 
    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  p {
    // margin-bottom: 1.20em;
    // font-weight: 400;
 
    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
  figure {
    figcaption {
      text-align: center;
    }
  }
}

.taxonomies {
  color: var(--brand-red);
  text-transform: uppercase;
}
h2._title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  text-transform: initial;
  font-weight: 600;
}
.time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
  .currentNewsTime {
    margin-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: right;
    letter-spacing: -0.012em;

    /* Neutral/8 */

    color: #595959;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .icon {
    font-size: 17px;
    color: #fa8c16;
  }
}

.separation-f {
  height: 1px;
  width: 100%;
  margin: 32px 0;
  background-color: rgba(198, 206, 219, 0.5);
}

.separation-s {
  height: 1px;
  width: 100%;
  margin: 48px 0 18px 0;
  background-color: rgba(198, 206, 219, 0.5);
}
._blockNewsTopViews {
  &:hover {
    ._text {
      color: #2f61e6;
      transition: all 0.3s;
    }
  }
}
.tagWrap {
  align-items: center;
  justify-content: space-between;

  .col {
    max-width: 50%;
  }

  .listTag {
    // display: flex;
    // align-items: center;
    .tag {
      cursor: pointer;
      > span > svg {
        transition: all 0.3s;
      }
      &:hover {
        > span > svg {
          transform: scale(1.3);
          transition: all 0.3s;
        }
      }
    }
  }
  .tag {
    border: 1px solid #2f61e6;
    border-radius: 4px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    > a {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #2f61e6;
    }
  }
}

.link {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  justify-content: flex-end;
  .text {
    display: flex;
    align-items: center;
  }
  > div {
    line-height: 22px;
    background-color: #ecf0f6;
    padding: 8px 10px;
  }
  > div:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  b {
    font-weight: 500;
    color: var(--text-bold);
    cursor: pointer;
  }
  > span {
    padding: 8px 10px;
    margin-right: 0;
  }
  .copy {
    cursor: pointer;

    .icon {
      margin-right: 6px;
    }
  }
  .source {
    margin-left: 4px;
    color: var(--text-bold);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 1.4rem;
    line-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
  }
}

.tabRight {
  .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--text-normal);
    padding-bottom: 16px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background: #bfbfbf;
    }
  }
  ._order {
    font-weight: 400;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: 0.006em;
    color: #d9d9d9;
  }
  ._text {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.006em;
    color: #595959;
  }

  .stickWrap {
    height: 100%;
    .banner {
      position: sticky;
      top: var(--header-height-category);
      .bannerWrap {
        height: 560px;
        width: 100%;
        display: block;
        position: relative;
      }

      .bannerImg {
        border-radius: 10px;
        cursor: pointer;
        // object-fit: cover;
      }
    }
  }
  ._wrappSticky {
    height: 100%;
    height: 100%;
    width: 100%;
    flex-flow: column;
    ._noStick {
      flex: unset;
      width: 100%;
    }
  }
  ._sticky {
    flex: 1 1;

    > a {
      position: sticky !important;
      top: 80px;
      height: 524px;
      display: block;
    }
    @media (max-width: 576px) {
      position: relative !important;
    }
  }
}
._customDivider {
  margin-top: 16px;
  margin-bottom: 24px;
  border-top: 1px solid #d9d9d9;
}
.hotNews {
  margin-bottom: 12px;
}

@media (max-width: 575.98px) {
  .time {
    justify-content: flex-start;
    margin-top: 8px;
  }

  .link {
    margin-top: 8px;
    > span {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 767.98px) {
  .link {
    > span {
      width: 100%;
    }
  }
}

@media (max-width: 991.98px) {
  .tabRight {
    .title {
      margin-top: 20px;
    }
  }
}

@media (min-width: 992px) {
  .relatedNews {
    flex: unset;
    margin-bottom: 40px;
  }
  .bannerCol {
    flex: 1;
  }
  .rightCol {
    flex-flow: column;
  }
}
