.intro {
  .label {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.006em;
    color: var(--neutral-7);
  }
  .content {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.006em;
    color: var(--neutral-9);
  }
}
.aboutUs {
  .content {
    word-break: break-word;
    letter-spacing: -0.012em;
    line-height: 22px;
    font-size: 14px;
    &.hide {
      max-height: 127px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-word;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      @media (max-width: 575.98px) {
        max-height: 88px;
      }
    }
    ul {
      padding-left: 16px;
      margin: 0;
    }
    li::marker {
      color: var(--primary);
    }
    li {
      padding: 0;
      margin: 0;
      margin-bottom: 4px;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .paragraph {
    margin-bottom: 0;
  }
  .readMore {
    margin-top: 28px;
    overflow: hidden;
    > div {
      flex-wrap: nowrap;
      align-items: center;
    }
    .line {
      flex: 1;
      height: 1px;
      background-color: #f0f0f0;
    }
    text-align: right;
    span {
      cursor: pointer;
      color: var(--primary);
    }
  }
}
