.wrapper {
  overflow: hidden;
  padding-top: 64px;
  background-color: #072a88;
  color: #fff;

  span {
    color: #fff;
  }

  .ser {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 48px;
  }

  .desc {
    line-height: 22px;
    letter-spacing: -0.012em;
    color: rgba(255, 255, 255, 0.7);
  }

  .address {
    line-height: 22px;
    letter-spacing: -0.012em;
  }
  .linkWrap {
    margin-top: 26px;

    .title {
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0.006em;
      color: rgba(255, 255, 255, 0.7);
    }
    .link {
      line-height: 22px;
      letter-spacing: -0.012em;
      color: #ffffff;
      &:hover {
        color: var(--hover-link);
      }
    }
  }
  .social {
    margin: 16px 0;
    padding-bottom: 16px;
    .socialItem {
      path {
        transition: var(--transition-hover);
      }

      &:hover {
        path {
          fill: var(--hover-link);
        }
        rect {
          transition: var(--transition-hover);
          stroke: var(--hover-link);
        }
      }
    }
    .footWrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .foot {
      font-size: 12px;
      line-height: 20px;

      letter-spacing: -0.006em;

      color: rgba(255, 255, 255, 0.7);
      .twinger {
        color: #fff;
        font-size: 12px;
        line-height: 20px;

        letter-spacing: -0.006em;
        margin-left: 2px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    padding-top: 32px;
    .logoWrap {
      text-align: center;
    }
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    padding-top: 32px;
    .logoWrap {
      .logo {
        width: 280px;
        height: 70px;
      }
    }
    .socialList {
      justify-content: center;
    }
    .social {
      .footWrap {
        justify-content: center;
        text-align: center;
      }
    }
  }
}
