.wrapper {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--neutral-5);
  &.noBorder {
    border: none;
  }
  cursor: pointer;
  &:hover .thumbnail {
    transform: scale(1.1);
  }
  .thumbnail {
    transition: all 0.4s ease;
    border-radius: 8px;
    object-fit: cover;
  }
  .logoWrap {
    border-radius: 8px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
  }
  &:hover .title {
    color: var(--primary);
  }
  .title {
    margin-top: 9px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 22px;
    font-size: 14px;
    transition: all 0.4s ease;
  }
  .text {
    color: var(--neutral-8);
    font-size: 12px;
  }
  .caption {
    font-weight: 600;
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
    color: var(--neutral-6);
  }
}

@media (max-width: 350px) {
  .wrapper {
    gap: 0 !important;
    .left {
      display: none;
    }
  }
}
