.notFound {
  text-align: center;
  .note {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.006em;
    color: var(--neutral-11);
  }
  .subNote {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.012em;
    color: var(--neutral-8);
  }
  @media (max-width: 767.98px) {
    .img {
      width: 100%;
    }
  }
  @media (max-width: 757.98px) {
    .img {
      height: 300px;
      object-fit: contain;
    }
  }
}
