.search {
  box-shadow: 0px 6px 15px rgba(44, 61, 106, 0.15);
  border-radius: 8px;
  height: 100%;
  input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: var(--neutral-7);
  }
}
