.wrapper {
  .swiper {
    position: relative;
  }
  .navigation {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid rgba(47, 97, 230, 0.8);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    &:disabled {
      cursor: not-allowed;
    }
  }
  .navigation + .navigation {
    margin-left: 8px;
  }
  .pagination {
    text-align: right;
    bottom: 0;
    > div {
      display: flex;
      height: 30px;
      margin-top: auto;
      margin-left: auto;
      align-items: flex-end;
      justify-content: flex-end;
    }
    span {
      display: block;
      min-width: 18px;
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: var(--primary);
    }
    .total {
      color: rgba(47, 97, 230, 0.6);
    }
    .total,
    .current {
      white-space: nowrap;
      word-break: normal;
    }
  }
  .iconNavigation {
    font-size: 12px;
    color: rgba(47, 97, 230, 0.8);
  }
  .progress {
    margin: 0 8px;
    max-width: 120px;
  }
  .progress div div div {
    height: 3px !important;
    background-color: var(--primary) !important;
  }
}
