.auto-complete-header {
  position: fixed;
  max-width: 556px;
  span {
    box-shadow: none;
  }
  @media (max-width: 1199.98px) {
    max-width: 40%;
  }
  @media (max-width: 991.92px) {
    margin-left: 0;
    margin-top: 40px;
    max-width: 80%;
  }
}
