.wrapper {
  padding: 16px 24px;
  cursor: pointer;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      max-width: 80%;
    }
    .amount {
      color: rgba(47, 97, 230, 0.8);
      font-weight: 600;
      font-size: 12px;
      background: rgba(47, 97, 230, 0.1);
      border-radius: 4px;
      padding: 1px 8px;
      transition: var(--transition-hover);
    }
  }
  &:hover {
    .amount {
      color: #fff;
      background-color: var(--primary);
    }
  }
}

._customSelect {
  //  min-width: 120px;
  > div {
    background: none !important;
    padding: 0 !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    letter-spacing: 0.006em;

    /* Royal Blue/Royal Blue */
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    color: #2f61e6 !important;
    span {
      padding-right: 0 !important;
      color: #2f61e6 !important;
    }
  }
}
///cate
._cate {
  ._customSeach {
    > span > input {
      border: none;
      outline: none;
      box-shadow: none;
      padding: 10px 15px;
      border-radius: 4px;
    }
    > span > span {
      z-index: 2;
    }
  }
  ._titleCate {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.006em;
    color: #262626;
  }
  ._nameCate {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.006em;
    color: #595959;
    padding: 9px 16px;
    &:hover {
      color: #2f61e6;
      cursor: pointer;
    }
  }
  .active {
    background: rgba(47, 97, 230, 0.1);
    box-shadow: inset -3px 0px 0px #2f61e6;
    border-radius: 4px 0px 0px 4px;
    position: relative;
    color: #2f61e6;

    // &::after{
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   width: 2px;
    //   height: 100%;
    //   background-color: red;
    // }
  }
  ._wrappSticky {
    height: 100%;
    width: 100%;
    flex-flow: column;
    ._noStick {
      flex: unset;
    }
  }
  ._sticky {
    flex: 1 1;

    > a {
      position: sticky !important;
      top: var(--header-height-category);
      height: 524px;
      display: block;
    }
    @media (max-width: 576px) {
      position: relative !important;
    }
  }
}
///
.thumbnailWrap {
  height: 181px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;

  .thumbnail {
    &:hover {
      transform: scale(1.1);
    }
    object-fit: cover;
    transition: all 0.4s ease-in-out;
  }
}
._textSeach {
  margin-top: 8px;
  > strong {
    color: #2f61e6;
  }
}
.text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.012em;
  font-weight: 400;
}
._source {
  margin: 8px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: -0.012em;
  color: #bfbfbf;
}
.BlockWrap {
  height: 181px;
  width: 100%;
  overflow: hidden;
  border-radius: 16px;
  @media (max-width: 1199.98px) {
    height: 117px;
  }
  @media (max-width: 767.98px) {
    height: 180px;
  }
  @media (max-width: 576px) {
    height: 262px;
  }

  .thumbnail {
    transition: all 0.4s ease-in-out;
  }
}
h3.titleBlock {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.006em;
  color: #262626;
}
.desBlock {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.012em;
  color: #595959;
}
._block {
  display: block;
  // &:hover{
  //   .thumbnail {

  //       transform: scale(1.1);

  //     object-fit: cover;
  //     transition: all 0.4s ease-in-out;
  //   }
  // }
}
._wrappBlock {
  position: relative;

  &:nth-of-type(3n) {
    &::after {
      display: none;
    }
  }
  &:last-child {
    &::after {
      display: none;
    }
  }
}

._newsSynthesisText {
  @media (max-width: 576px) {
    order: 2;
    margin-top: 20px;
  }
}
